<html xmlns='http://www.w3.org/1999/xhtml'>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <head>
    <style type='text/css'>
      @media (prefers-color-scheme: light) { body { background-color: #fff;
      color: #565758; } } @media (prefers-color-scheme: dark) { body {
      background-color: #15202b; color: #fff; } } body { font-family: Arial,
      sans-serif; font-size: 16px; margin: 0; padding: 0 ; } .bold{ font-weight:
      500; } .container { max-width: 600px; margin: 0 auto; padding: 20px; }
      .container2 { max-width: 600px; margin: 0 auto; padding: 10px; } .bg-col{
      background-color: #e6ff87; } .text-col{ color: #54dc0c; } .text-center{
      text-align: center; } .header { margin-bottom: 20px; margin-top: 30px; }
      .inline{ display: inline; } .logo { width: 4rem; border-radius: 2rem; } .mage { max-width:
      600px; } p-medium{ font-size: 14px; line-height: 1.3; } p-small{
      font-size: 12px; line-height: 1.2; } .title-m { font-size: 24px;
      margin-top: 20px; } .subtitle-m { font-size: 18px; margin-top: 10px; }
      .title { font-size: 24px; } .subtitle { font-size: 18px; } .border{
      border: 1px solid #54dc0c; } .button { display: inline-block;
      background-color: #007bff; color: #ffffff; font-size: 16px; font-weight:
      bold; padding: 10px 20px; border-radius: 5px; text-decoration: none;
      margin-top: 30px; } .button:hover { background-color: #0062cc; } .footer {
      margin-top: 30px; text-align: center; }

    </style>
  </head>
  <body class='container'>
    <header class='header container p-medium'>
      <a href='#'>
        <img src='https://res.cloudinary.com/dzj9jg6qh/image/upload/v1690369519/Branding/bwwtlahhvazb1hpmmbmn.jpg' class='logo' alt='Logo' />
      </a>
    </header>
    <p>Hola <span class='bold'>{{firstName}}!</span></p>
    <p>Thanks for signing up </p>
    <p>Welcome to Creond, where the journey of limitless possibilities begins!
      We're delighted to have you join our growing startup. Your decision to
      become part of the Creond community opens up a world of opportunities and
      innovations. As you step into our digital realm, you'll discover a
      universe of products and services designed to enhance your everyday life,
      simplify tasks, and expand your horizons. At Creond, our mission is to
      provide you with services that empowers you to: 🌌 Discover Limitless
      Innovation: Pushing the boundaries of what's possible is in our DNA! Our
      team thrives on innovation, constantly seeking new ways to revolutionize
      industries and create meaningful impact. 🌟 Ignite Collaborative Sparks:
      Together, we are stronger! Experience the magic of collaboration as you
      connect with like-minded individuals who share your passion for
      exploration and pushing the envelope. 💡 Illuminating Learning
      Experiences: Education never stops, and neither does our hunger for
      knowledge! Immerse yourself in our enlightening platforms, where knowledge
      can be managed and shared. Thank you for choosing Creond. We're excited to
      have you on this incredible journey, and together, we'll shape a brighter,
      more connected future. Remember, there are no limits to what you can
      achieve. Together, let's reach for the stars and beyond!</p>
    <p>Sincerely,</p>
    <p>The Creond Team</p>

    <footer class='footer container p-small'>
      <p>Creond Innovations</p>
      <p>For more information, <a href='#'>Subscribe</a></p>
    </footer>

  </body>
</html>